@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,500;0,700;1,300;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;

}

.headline{
    font-family: 'Montserrat';
    font-size: 10em;
}

/* hero */
.image-container{
    min-height: 100vh;
    background-image: url(Images/profile.jpg);
    background-size: cover;
    background-position: center;
  
}

/* header */
header{
    position: absolute;
    left: 0px;
    right: 0px;
}

.header-container{
    max-width: 1600px;
    margin: auto;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


 header .brand-name img{
     width: 120px;
     height: 120px;
 }

 header .row{
    justify-content: space-between;
    align-items: center;
}
/* navigation */
.navbar ul{
    list-style: none;
    margin: 0;
}

.navbar ul li{
    display: inline-block;
    margin-left: 35px;
    padding: 40px 0px;
}

.navbar ul li{
    display: inline-block;
    margin-left: 35px;
}

.navbar ul li a{
    text-transform: uppercase;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    line-height: 72px;
    cursor: pointer;
    position: relative;
    display: block;

}


header .navbar ul li a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    left: 0px;
    bottom: 10px;
    transition: all .5s ease;
}

 .navbar ul li a:hover::before{
    width: 100%;
    left: 0;

}

.navbar ul li a.active::before{
    width: 100%;
    left: 0;
}
/* hero-content */
.home .full-screen{
    min-height: 100vh;
}

.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 35px;
    margin-top: 50px;
    text-align: center;
    color: white;
}


.home .home-content .block .body h4{
    font-size: 2em;
}

.home .home-content .block .body h4 span{
    font-style: italic;
}



  /*About me*/

.about-me{
    padding: 100px 15px;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

.section-title h1{

    display: inline-block;
    position: relative;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 5px;

}

 .section-title h1::before{
    content: '';
    height: 3px;
    background-color: #febd01;
    position: absolute;
    left: 0px;
    right:0px;
    bottom: -1px;
}

.section-title p.small{
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-content .img{
     flex: 0 0 33.33%;
     max-width: 33.33%;
}

.about-content .img img{
    width: 100%;
    display: block;
    -webkit-transform: rotateY(180deg); ;
    transform: rotateY(180deg);
}

.about-content .text{
    flex: 0 0 66.66%;
    padding-left: 30px;
}

.about-content .text h4{
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #1d1d21;
}

.about-content .text h6{
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 5px;
    color: #1d1d21;
   
}

.text h6 span{
    color: #febd01;
}

.text p{
     font-size: 18px;
     font-weight: 400;
     line-height: 24px;
     color: #838383;
     letter-spacing: 1px;

}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    padding: 30px 0;
}

.info .list{
    flex: 0 0 calc(50%);
    max-width: calc(50%);
    margin-top: 10px;
    display: flex;
    padding-bottom: 10px;   
    align-items: center;
}

.info .list label{
    padding-right: 10px;
    color: #1d1d1a;
    font-weight: 600;
    font-size: 20px;
}

.info .list p{
    margin: 0 ;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    
}



/* /*Our services */

.education{
    padding: 100px 0px;
  } 


.education .section-title{
    text-align: center;

}

.education .section-title h1::before{
    left: 0;
}

.education-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box{
    background-color: #fff;
    padding: 40px 30px;
    padding-bottom: 150px;
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    position: relative;
}


.icon img{
    height: 150px;
    line-height: 60px; 
    color: #fff;
}

.box h3{
    font-weight: 600;
    font-size: 2em;
    color: #1d1d1a;
    margin: 0;
}



.box::before{
    content: '';
    height: 2px;
    background-color: #febd01;
    position: absolute;
    width: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}

.box:hover::before{
    width: 50%;
}

.box p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 10px 0 0;
}


.box .list{
    padding-top: 20px;
}
/* Achievements */

.achievements{
    display: flex;
    width: 100%;
    
}

.achievements-content{
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 30px;
}



.achievements .img{

    flex: 0 0 50%;
    max-width: 50%;
    
}

.achievements .img img{
    width: auto;
    max-height: 800px;
    display: block;
}

.align-items{
    align-items: center;
}

.achievements-content .section-title p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 10px 0 0;
}

.list{
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 39px;
}

.list h3{
    font-size: 28px;
    font-weight: 700;
    color: #1d1d21;
    margin: 0 0 8px;

}

.list p{
    font-size: 18px;
}


/* hobbies */

.hobbies{
    
    padding: 100px 7px;
}

.hobbies .section-title h1::before{
    left: 0;
}


.hobbies-gallery{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
    padding: 8px;
}

.inner{
    position: relative;
}

.item img{
    height: 400px;
    width: 400px;
    z-index: 0;
    display: block;
   
   
}

.item .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    width: 400px;
    flex-wrap: nowrap;
    flex-direction: column;
    opacity: 0;
    transition: all .5s ease;
}

.item .overlay h4{
    margin-top: 15px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}



.item:hover .overlay{
     display: flex;
     opacity: 1;
}

.item:hover .overlay .fa{
    -webkit-animation: galleryIcon .8s ease;
    animation: galleryIcon .8s ease;

}

.item:hover .overlay h4{
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}

/* footer */
footer{
    background: #0E1D28;
    min-height: 150px;
    display: flex;
    
}

footer .row{
    min-width: 1600px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

footer img{
    width: 100px;
    height: 100px;
}

footer .logo{
    display: flex;
    align-items: center;
}

footer .logo p{
    font-size: 1.2em;
    color: #ffffff;
}

footer .row .social-links{
    color: #ffffff;
}

footer .row .social-links a{
    color: #ffffff;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 1px;
    transition: all .5s ease;
}

footer .row .social-links a i{
    font-size: 25px;
}
